{% extends 'flatpages/default.html' %}

{% load custom_filters %}               <!-- Объявляем свой фильтр currency-->


{% block title %}
News
{% endblock title %}

                                        <!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Все новости</h1>
    <!-- Используем переданную из представления переменную time_now
    и применяем к ней фильтр date. По назначению этот фильтр очень похож
    на метод strftime у объекта datetime в Python — вывод времени
   в  указанном формате. -->
    <h3>Cегодня: {{ time_now|date:'d M Y' }}</h3>
    <!-- Если в переменной next_sale будет None,
    то выведется указанный в фильтре текст -->
    <h5> {{ hot_news|default_if_none:"Горячих новостей нет. Но Вы узнаете о них первыми!" }} </h5>
    <hr>
    <p>Всего новостей и статей:  {{ news|length }}</p>
    <hr>
    {% if is_not_subscriber %}
            <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a>></p>
    {% endif %}
    {% if category_news_list %}
    <table>                                         <!-- Начинаем описывать таблицу -->
        <tr>                                        <!-- Добавляем строку -->
            <td>                                    <!-- Добавляем ячейку в строку -->
                &emsp;&emsp;&emsp;&emsp;Заголовок &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            </td>
            <td>
                    &emsp;&emsp;&emsp;&emsp;Категории &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;     <!-- Из вебинара по работе с почтой добавляю Категории -->
            </td>
            <td>                                     <!-- Добавляем ещё одну ячейку в строку и так далее -->
                  &emsp;&emsp;&emsp;&emsp; Дата публикации &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            </td>
            <td>
                   &emsp;&emsp;&emsp;&emsp;Текст &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            </td>
        </tr>                           <!-- Не забываем закрыть HTML-тег строки -->
        {% for new in category_news_list %}
        <tr>
            <td align="left">{{ new.title | censor }}</td>                             <!-- мой фильтр Цензор-->
            <td>
                {% for category in new.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
            </td>
            <td align="center">{{ new.date_time_post | date:'d M Y' }}</td>
            <td align="left">{{ new.text_body | truncatechars:20 | censor }}</td>      <!-- мой фильтр Цензор-->
        </tr>
        {% endfor %}
    </table>                            <!-- ... и таблицы -->
    {% else %}
        <h2>Новостей нет!</h2>          <!-- Если товаров нет, говорим, что товаров нет ;) -->
    {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
