<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}                           <!-- Объявляем свой фильтр-->

<!-- Название у нас будет New -->
{% block title %}
New
{% endblock title %}

<!-- В контенте на странице мы выводим саму новость, идентификатор которой был передан в url -->
{% block content %}
<h1>{{ new.title | hide_forbidden }}</h1>
<h3>Дата публикации: {{ new.date_time_post | date:'d M Y' }}</h3>
<hr>
<p>{{ new.text_body | hide_forbidden }}</p>
{% endblock content %}
